div.head{
    background-color: #b22222;
    color: white;
    height: 60px;
}

div.foot{
    background-color: rgba(0, 0, 0, 0.904);
    color: white;
    height: 100px;
}
div.container{
    width: 100%;
    height: 100%;
}
div.fondinsc{
    color: white;
    
}
div.h1{
    color: white;
}
.bg-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}

#second{
    text-align: center;
    font-size:200%;
}

#third{
    text-align: end;
}

table{
    width: 60%;
    text-align: center;
    margin: 20px auto;
    border-collapse: collapse;
}

th{
    background-color: rgb(50, 102, 234);
    padding: 5px;
    font-size: 18px;
}

tr, td{
    border: 1px solid silver;
    padding: 3px;
}

h1{
    text-align: center;
}

.valide_sup{
    text-align: center;
}

.rating {
    direction: rtl;
 }
 .rating a {
    color: #aaa;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
 }
 .rating a:hover,
 .rating a:focus,
 .rating a:hover ~ a,
 .rating a:focus ~ a {
    color: orange;
    cursor: pointer;
 }

